* {
	padding: 0;
	margin: 0;
	font-family: pingFang;
}
html,
body {
	background: rgba(0, 0, 0, 0) !important;
}
// ::-webkit-scrollbar {
// 	width: 2px;
// }
// ::-webkit-scrollbar-thumb {
// 	height: 50px;
// 	background-color: #353739;
// 	border-radius: 2px;
// 	outline-offset: -2px;
// }
